<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/man.css">
    <link rel="stylesheet" href="css/fonts.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <div class="wrapper">
            <div class="nav_row">
                <div class="logo">
                    <div class="logo_img">
                        <img src="../img/logo.png" alt="">
                    </div>
                    <div class="logo_block">
                        <h1 class="logo_name">doctor</h1>
                        <div class="logo_text">Meet our most specialist doctors</div>
                    </div>
                </div>
                <ul class="nav_menu">
                    <li class="nav_item"><a href="" class="nav_link">home</a></li>
                    <li class="nav_item"><a href="" class="nav_link">about us  </a></li>
                    <li class="nav_item"><a href="" class="nav_link">our services</a></li>
                    <li class="nav_item"><a href="" class="nav_link">our team </a></li>
                    <li class="nav_item"><a href="" class="nav_link">contact us</a></li>
                </ul>                                                   
            </div>
        </div>
    </nav>
   <header class="header">
        <div class="wrapper header_claider">
                <div class="claider_str"><img src="../img/str_left.png" alt=""></div>
                <div class="claider_block">
                    <h1 class="block_claider_name">providing</h1>
                    <p class="block_claider_text">highquality service for men & women</p>
                    <button class="block_claider_button">learn more</button>
                </div>
                <div class="claider_str"><img src="../img/str_right.png" alt=""></div>
            </div>
   </header>
   <section>
       <article class="article">
           <div class="wrapper">
               <div class="article_block">
                    <h1 class="name_block">about us</h1>
                    <p class="text_block">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
               </div>
                <div class="row-flex">
                    <div class="about_block">
                        <img src="../img/about1.png" alt="">
                        <div class="about_iconka">
                            <span class="about_iconka_text">C</span>
                        </div>
                        <div class="about_text_block">
                            <div class="about_name"></div>
                            <div class="article_text"></div>
                        </div>
                    </div>
                    <div class="about_block">
                        <img src="../img/about2.png" alt="">
                        <div class="about_iconka"></div>
                        <div class="about_text_block">
                            <div class="about_name"></div>
                            <div class="article_text"></div>
                        </div>
                    </div>
                    <div class="about_block">
                        <img src="../img/about3.png" alt="">
                        <div class="about_iconka"></div>
                        <div class="about_text_block">
                            <div class="about_name"></div>
                            <div class="article_text"></div>
                        </div>
                    </div>
                </div>
           </div>
       </article>
   </section>
</body>
</html>