@font-face{
    font-family: "ChaletComprimeCologneEighty";
    src: url('../fonts/ChaletComprimeCologneEighty.ttf')format("truetype");
     font-weight: 400;
}
@font-face{
    font-family: "Proxima Nova - Semibold";
    src: url('../fonts/ProximaNova.ttf')format("truetype");
     font-weight: 400;
}